#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
  display: flex;
  flex-direction: column;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.small {
  font-weight: 700;
  font-size: larger;
  margin: 5px;
}

header {
  display: flex;
  justify-content: center;
  background-color: red;
  margin-bottom: 25px;
}

/* @media (max-weidth: 675px) {
  .main-content {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items: baseline;
  }
} */
@media (max-width: 675px) {
  .main-content {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
}

.main-content {
  margin: 10px;
  display: flex;
}
.main-content img {
  border-radius: 15px;
  margin: 10px;
  margin-top: 0px;
  width: 125px;
  height: 180px;
}

.main-content .location h3 {
  margin: 5px 0 -10px;
}

.entry-text {
  line-height: 1.5;
  font-size: 0.8rem;
  /* display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical; */
  overflow: hidden;
}

header p {
  font-size: x-large;
  font-weight: 600;
}
